{:kotoba.app/id "cloud.itonami.isic-8299", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigqgstv3uzjxyush7rpp7lcpcvgxoouohj23jxeucsz2kl5plrb4e", :kotoba.app/embed-url "ipfs://bafkreigqgstv3uzjxyush7rpp7lcpcvgxoouohj23jxeucsz2kl5plrb4e", :published {:archive "https://kotobase.net/ipfs/bafkreigqgstv3uzjxyush7rpp7lcpcvgxoouohj23jxeucsz2kl5plrb4e", :size 71986, :put-status 201, :get-status 200, :at "2026-08-15T13:57:58.654Z"}}
